
.sk__button{
  background: #ffffff;
  color: #606266;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  text-align: center;
}
.sk__link{
  color: #fff;
  text-decoration: none;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-align: center;
}
.sk__link.onClick:active{
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 0px 0px 0px;
}
/* sk__link__disabled 效果 */
.sk__link.sk__link__disabled{
  cursor: not-allowed;
}
.sk__link.sk__link__disabled.sk__type__danger{
  background: #fab6b6;
  box-shadow: 0px 5px 0px 0px #f0abab;
}
.sk__link.sk__link__disabled.sk__type__success{
  background: #a0cfff;
  box-shadow: 0px 5px 0px 0px #96c2ee;
}
.sk__link.sk__link__disabled.sk__type__default{
  background: #c8c9cc;
  box-shadow: 0px 5px 0px 0px #b3b5b8;
}
.sk__link.sk__link__disabled.sk__type__warning{
  background: #f3d19e;
  box-shadow: 0px 5px 0px 0px #e9c48c;
}
/* size */
.sk__link.sk__size__small{
  font-size: 12px;
  padding: 6px 20px;
}
.sk__link.sk__size__default{
  font-size: 13px;
  padding: 8px 20px;
}
.sk__link.sk__size__large{
  font-size: 15px;
  padding: 10px 24px;
}
.sk__button.sk__size__small{
  font-size: 12px;
  padding: 6px 20px;
}
.sk__button.sk__size__default{
  font-size: 13px;
  padding: 8px 20px;
}
.sk__button.sk__size__large{
  font-size: 15px;
  padding: 10px 24px;
}
/* type */
.sk__type__default.sk__link{
  color: #fff;
  background-color: #9ea2a8;
  box-shadow: 0px 5px 0px 0px #7c7d80;
}
.sk__type__default.sk__link.onClick:hover{
  background-color: #a6a9ad;
}
.sk__type__success.sk__link{
  color: #fff;
  background: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;
}
.sk__type__success.sk__link.onClick:hover{
  background-color: #6FC6FF;
}
.sk__type__danger.sk__link{
  background-color: #e74c3c;
  box-shadow: 0px 5px 0px 0px #CE3323;
}
.sk__type__danger.sk__link.onClick:hover {
  background-color: #FF6656;
}
.sk__type__warning.sk__link{
  background-color: #e6a442;
  box-shadow: 0px 5px 0px 0px #ce8f30;
}
.sk__type__warning.sk__link.onClick:hover{
  background-color: #ebb563;
}


.sk__type__default.sk__button{
  color: #606266;
}
.sk__button.sk__type__default.onClick:hover{
  background: #ecf5ff;
}
.sk__type__success.sk__button{
  color: #fff;
  background: #55acee;
}
.sk__type__success.sk__button.onClick:hover{
  background-color: #6FC6FF;
}
.sk__type__danger.sk__button{
  background-color: #e74c3c;
}
.sk__type__danger.sk__button.onClick:hover {
  background-color: #FF6656;
}
.sk__type__warning.sk__button{
  background-color: #e6a442;
}
.sk__type__warning.sk__button.onClick:hover{
  background-color: #ebb563;
}